.hero-img {
    background-image: url(https://images.unsplash.com/photo-1599158150601-1417ebbaafdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main-card {
    background-color: rgba(79, 79, 79, 0.554);
    min-height: 40vh;
}

.score-card {
    background-color: rgba(255, 255, 255, 0.584);
    min-height: 50px;
}

.font-big {
    font-size: 600%;
    
}

.font-med {
    font-size: 300%;
}

.btn-color {
    background-color: rgba(255, 255, 255, 0.85);
    
}

.text-shadow {
    text-shadow: 1px 1px 20px whitesmoke;
}

.text-shadow-btn {
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
}
